In [63]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.patches as mpatches
import matplotlib.lines as mlines
from astropy.cosmology import FlatLambdaCDM
import astropy.units as u
import statistics
from scipy.optimize import curve_fit
from scipy import stats
from astropy import constants as const

In [64]:
path="/Users/maguireadmin/Documents/Teaching/TCD/JS_comp/Maguire_2122/Assignment/"
filename="testdata.csv"

dataframe = pd.read_csv(path+filename) #reading in a comma-separated variable file. Basically a text file where each column is separated by a comma. 
# The nice part of pandas for this is that it stores the columns headers and you can use these to call a column


dataframe #print out dataframe

      Name      zcmb         mb  error_mb        X1  error_X1         c
0   03D1au  0.503084  23.001698  0.088031  1.273191  0.150058 -0.012353
1   03D1aw  0.580724  23.573937  0.090132  0.974346  0.273823 -0.025076
2   03D1ax  0.494795  22.960139  0.088110 -0.728837  0.102069 -0.099683
3   03D1bp  0.345928  22.398137  0.087263 -1.155110  0.112834 -0.040581
4   03D1co  0.677662  24.078115  0.098356  0.618820  0.404295 -0.039380
5   03D1dt  0.610712  23.285241  0.092877 -1.161563  1.641345 -0.094943
6   03D1ew  0.866494  24.353678  0.106037  0.376409  0.348004 -0.063269
7   03D1fc  0.330932  21.861412  0.086437  0.650394  0.118542 -0.017577
8   03D1fq  0.798566  24.510389  0.101777 -1.056666  0.406837 -0.055975
9   03D3aw  0.449562  22.667126  0.091912  0.810113  0.232169 -0.085962
10  03D3ay  0.371443  22.273052  0.091326  0.569579  0.197845 -0.054463

In [72]:
# Some manipulation of the values
#print(dataframe.columns) #Give the column headers, e.g. tell you what's in each column

#print('extract column, zcmb: ',dataframe.zcmb) #print column named 'zcmb'. You'll see there's an initial column with the index

#print('Max value of zcmb', dataframe.zcmb.max()) #get max value of column 'cmb'

#get index of max value of column 'zcmb'
max_index_of_zcmb=dataframe.zcmb.idxmax()
#print('Get index of zcmb', max_index_of_zcmb)  

#apply this index to another column to get value of mb where zcmb is a max
mb_where_zcmb_is_a_max=dataframe.mb[max_index_of_zcmb]
#print('mb where zcmb is a max', mb_where_zcmb_is_a_max,'mag')  

# Use the following to get the names of supernovae where zcmb GT 0.5
df_gt_0point5=dataframe[dataframe.zcmb>0.5].Name
print(df_gt_0point5)

# Useful way to locate values https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html
# This example selects the rows of dataframe.zcmb where dataframe.zcmb is GT 0.5 and then adds and offset of 0.1 to update the column
offset=0.1

# print('Old values',dataframe.zcmb)
dataframe.loc[dataframe['zcmb'] >= 0.5,['zcmb']] =dataframe.loc[dataframe['zcmb'] >= 0.5,['zcmb']]+offset
# print('New values',dataframe.zcmb)

0      True
1      True
2     False
3     False
4      True
5      True
6      True
7     False
8      True
9     False
10    False
Name: zcmb, dtype: bool
0    03D1au
1    03D1aw
4    03D1co
5    03D1dt
6    03D1ew
8    03D1fq
Name: Name, dtype: object
0    03D1au
1    03D1aw
4    03D1co
5    03D1dt
6    03D1ew
8    03D1fq
Name: Name, dtype: object

In [62]:
# If you need/want to you can convert the pandas dataframe to a numpy array
numpy_array=dataframe.to_numpy() 
# print(numpy_array) or use
numpy_values=dataframe.values
# print(numpy_values)

In [40]:
# Add a new column to the Pandas dataframe, say for example to add a constant uncertainty value to the b band magntiude errors given in column 'error_mb'

err_value=0.05# additional error term
dataframe['newcolumn']=np.sqrt((dataframe.error_mb)**2+(err_value)**2)
# print(dataframe.error_mb,data.newcolumn)